/* Body style */
/*Googl fonts import*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oxygen:wght@300;400;700&display=swap");

body {

  background-color: rgb(255, 255, 255);
  font-family: "Open Sans", sans-serif;
  color: black;
  text-align: center;
  margin: auto;
}

/* Heading style */
.heading {
  text-align: center;
  font-size: 5ch;
  color: red;
}

/* Add style to BMI calculator */
.container {
  display: flex;
  justify-content: center;
  background-color: rgb(227, 224, 224);
  align-items: center;
  box-sizing: border-box;
  margin-left: 10rem;
  margin-right: 10rem;
  padding: 1%;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.bmi-style {
  flex: 1;
  text-align: center;
  background-color: azure;
}

h2 {
  font-size: xx-large;
  text-align: center;
  font-family: "Oxygen", sans-serif;
}

.panel {
  flex: 1;
}

h3 {
  font-size: x-large;
  font-family: "Oxygen", sans-serif;
}

span {
  font-size: 3ch;
}

.input-panel {
  margin-bottom: 10px;
  text-align: left;
  display: grid;
  place-items: center;
  min-height: 10vh;
}

input[type="number"] {
  width: 50%;
  padding: 8px;
  border: 0.5px solid #ccc;
  border-radius: 2px;
  box-sizing: border-box;
}

/*Style the button*/
.myBtn {
  background-color: rgba(0, 251, 255, 0.509);
  ;
  color: #0f0f0f;
  border: 0;
  outline: none;
  margin-bottom: 20px;
  padding: 15px 50px;
  border-radius: 40px;
  cursor: pointer;
  font-size: 20px;
  font-weight: 500;
}

.btn {
  background-color: blue;
  color: #fafafa;
  border: 0;
  margin-bottom: 10px;
  outline: none;
  padding: 15px 50px;
  border-radius: 40px;
  cursor: pointer;
  font-size: 15px;
  font-weight: 300;
}

button:hover {
  background-color: aquamarine;
  color: black;
}

/*Style the popup box*/
.popup {
  width: 500px;
  background: yellow;
  border-radius: 10px;
  position: absolute;
  top: 0;
  left: 49%;
  transform: translate(-50%, -50%) scale(0.1);
  visibility: hidden;
  transition: transform 0.4s, top 0.4s;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.open-popup {
  visibility: visible;
  top: 70%;
  transform: translate(-50%, -50%) scale(1);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#result {
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 25px;
  background-color: rgb(0, 255, 247);
}

.piechart_container {
  display: inline-block;
  justify-content: center;
  background-color: yellow;
  align-items: center;
  box-sizing: border-box;
  margin-left: 10rem;
  margin-right: 10rem;
  padding: 1%;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

.piechart_details {
  flex: 1;
  text-align: center;
  background-color: azure;
  padding: 5px;
}

#piechart_3d {
  height: 500px;
}

.fluids-container {
  display: flex;
  justify-content: center;
  background-color: rgb(40, 215, 254);
  align-items: center;
  box-sizing: border-box;
  margin-left: 10rem;
  margin-right: 10rem;
  margin-bottom: 10px;
  padding: 1%;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.fluids-btn {
  background: #fafafa;
  background-color: blue;
  color: #fafafa;
  border: 0;
  margin-bottom: 10px;
  outline: none;
  padding: 15px 50px;
  border-radius: 40px;
  cursor: pointer;
  font-size: 15px;
  font-weight: 300;
}

.fluids-style {
  flex: 1;
  text-align: center;
  background-color: azure;
}

.fluids-panel {
  flex: 1;
}

/*Media query for phone screens*/
@media (max-width: 320px) {

  .heading {
    font-size: large;
  }

  .container {
    width: auto;
    margin-left: 2px;
    margin-right: 2px;
  }

  .piechart_container {
    width: auto;
    margin-left: 2px;
    margin-right: 2px;
  }

  .piechart_details {
    width: auto;
    margin-left: 2px;
    margin-right: 2px;
  }

  .fluids-container {
    width: auto;
    margin-left: 2px;
    margin-right: 2px;
  }

  .popup {
    width: auto;
    top: 70%;
  }
}

@media (max-width: 600px) {
  .container {
    width: auto;
    margin-left: 2px;
    margin-right: 2px;
  }

  .piechart_container {
    width: auto;
    margin-left: 2px;
    margin-right: 2px;
  }

  .piechart_details {
    width: auto;
    margin-left: 2px;
    margin-right: 2px;
  }

  .fluids-container {
    width: auto;
    margin-left: 2px;
    margin-right: 2px;
  }

  .popup {
    width: auto;
    top: 80%;
  }
}