
body {
    background-color: white;
    font-family: "Oxygen", sans-serif;
    color: black;
    text-align: center;
}

.heading {
    text-align: center;
    font-size: 5ch;
    color: red;
}

.container {
    background-color: rgb(227, 224, 224);
    align-items: center;
    box-sizing: border-box;
    width: 90%;
    max-width: 900px;
    margin-left: 10rem;
    margin-right: 10rem;
    padding: 1%;
    text-align: center;
}

h2 {
    font-size: xx-large;
}

h3 {
    font-size: x-large;
}

span{
    font-size: 3ch;
}

.input-panel {
    margin-bottom: 20px;
    text-align: left;
    display: grid;
    place-items: center;
    min-height: 10vh;
    
  }
  
  input[type="number"] {
    width: 50%;
    padding: 8px;
    border: 0.5px solid #ccc;
    border-radius: 2px;
    box-sizing: border-box;
    
  }

  button {
    background-color: blue;
    color: #fafafa;
    border: none;
    padding: 20px 20px;
    border-radius: 5px;
    cursor: pointer; 
  }
  button:hover {
    background-color: aquamarine;
    color: black;
  }
  
  #result {
    margin-top: 20px;
    font-weight: bold;
  }




 




